#contentConfirmation {
  background-color: black;
}

#contentConfirmation a {
  background-color: #F5F5F5;
  color: #000;
  margin-left: 2px;
  margin-right: 2px;
}

#contentConfirmation a:hover {
  border: #F5F5F5 1px solid;
  background-color: #000;
  color: #F5F5F5;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F5F5F5;
  color: #F5F5F5;
  font-family: "Roboto";
  font-weight: 700;
}

body #content {
  display: block;
}

body #content .title {
  font-size: 25px;
  display: block;
  width: 70%;
  text-align: center;
  margin: auto;
  opacity: 0.9;
  letter-spacing: 40px;
  margin-top: -3%;
  text-transform: uppercase;
}

body #content form {
  margin: 3% auto 0 auto;
  padding: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  /*codepen*/
  /*fin code pen*/
}

body #content form label {
  font-size: 14px;
  color: darkgray;
  cursor: pointer;
}

body #content form label,
body #content form input {
  float: left;
  clear: both;
}

body #content form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.2s ease all;
}

body #content form input[type=text]:focus {
  border-color: cornflowerblue;
}

body #content form button {
  padding: 15px 50px;
  width: auto;
  background: #1abc9c;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  clear: right;
  transition: 0.2s ease all;
}

body #content form button:hover {
  opacity: 0.8;
}

body #content form button:active {
  opacity: 0.4;
}

body #content .theClub {
  color: #000;
  background-color: white;
  border-radius: 20px;
  padding: 60px;
  width: 80%;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 5%;
}

body #content .theClub span {
  display: block;
  width: 60%;
  height: 3px;
  background-color: #F5F5F5;
  margin-right: 40px;
  border-radius: 10px;
}

body a {
  color: #F5F5F5;
  text-decoration: none;
}

/*--------------------------------------------------------------------------------------*/

/*-------------------------------Navigation du Haut-------------------------------------*/

/*--------------------------------------------------------------------------------------*/

ul {
  display: flex;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}

ul li {
  margin-right: 30px;
  margin-top: 10px;
}

ul form.search {
  color: #F5F5F5;
  /*
  		#demo-2 input[type=search] {
  			width: 150px;
  			padding-left: 150px;
  			color: transparent;
  			cursor: pointer;
  		}

  		#demo-2 input[type=search]:focus {
  			width: 130px;
  			padding-left: 152px;
  			color: $white;
  			background-color: #000000;
  			cursor: auto;
  		}
  		#demo-2 input:-moz-placeholder {
  			color: transparent;
  		}
  		#demo-2 input::-webkit-input-placeholder {
  			color: transparent;
  		}
  */
}

ul form.search input {
  outline: none;
  color: #F5F5F5;
}

ul form.search input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

ul form.search input::-webkit-search-decoration,
ul form.search input::-webkit-search-cancel-button {
  display: none;
}

ul form.search input[type=search] {
  background: #000 url("/images/magnifyingGlass.svg") no-repeat 9px center;
  border: solid 2px #000;
  padding: 9px 10px 9px 32px;
  padding-left: 50px;
  width: 0px;
  border-radius: 10em;
  transition: all 0.5s;
}

ul form.search input[type=search]:focus {
  width: 130px;
  border-color: #111111;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

ul form.search input:-moz-placeholder {
  color: #F5F5F5;
}

ul form.search input::-webkit-input-placeholder {
  color: #F5F5F5;
}

ul form.search input::-webkit-input-placeholder {
  color: #F5F5F5;
}

ul form.search input::-moz-placeholder {
  color: #F5F5F5;
}

ul form.search input::-ms-placeholder {
  color: #F5F5F5;
}

ul form.search input::-webkit-input-placeholder {
  color: #F5F5F5;
}

ul form.search input::-moz-placeholder {
  color: #F5F5F5;
}

ul form.search input:-ms-input-placeholder {
  color: #F5F5F5;
}

ul form.search input::-ms-input-placeholder {
  color: #F5F5F5;
}

ul form.search input::placeholder {
  color: #F5F5F5;
}

/*--------------------------------------------------------------------------------------*/

/*------------------------------------leftBlock-----------------------------------------*/

/*--------------------------------------------------------------------------------------*/

.content {
  display: flex;
}

.content .leftBlock {
  display: flex;
  margin: 4%;
  margin-bottom: 0px;
  height: 88%;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  transform: rotate(180deg);
}

.content .leftBlock .textLeftBlock {
  margin-top: 30px;
  margin-right: 45px;
  font-weight: 400;
}

.content .leftBlock .lighter {
  font-weight: 300;
  font-size: 14px;
}

.content .rightBlock {
  display: flex;
  margin-top: 35%;
  /*
  		span{
  			width: 50px;
  			height: 10px;
  			background-color: white;
  			position: absolute;

  			&:nth-child(1){
  				width: 10px;
  				height: 50px;
  				background-color: blue;
  				right: 0;
  			}
  			&:nth-child(2){
  				background-color: red;
  				bottom: 0;
  			}
  		}
  		*/
}

.content .rightBlock h1 {
  font-weight: 900;
  font-size: 70px;
  width: 60%;
  margin-left: 25px;
}

.content .rightBlock .slider {
  position: absolute;
  right: 5.5%;
}

.content .rightBlock .slider p {
  text-align: center;
}

.content .bottomBlock {
  margin-top: 10%;
}

.content .bottomBlock table {
  width: 70%;
}

.content .bottomBlock table tbody {
  height: 100px;
}

.content .bottomBlock table tbody tr td {
  text-align: center;
  width: 5%;
}

.content .bottomBlock table tbody tr td span {
  vertical-align: 7px;
  font-size: 13px;
}

/*--------------------------------------------------------------------------------------*/

/*-------------------------------Navigation de Droite-----------------------------------*/

/*--------------------------------------------------------------------------------------*/

body.moon {
  background-image: url(/images/moon.png?f075bd18044ecaa8c5294fa06a33f1a2);
}

body.mars {
  background-color: pink;
}

span.buttonUp {
  display: block;
  width: 55px;
  height: 80px;
  background-image: url(/images/arrowUp.svg?f8978adee090cff8fcf759df37ada684);
  background-repeat: no-repeat;
  background-position: center;
}

span.buttonDown {
  display: block;
  width: 55px;
  height: 80px;
  background-image: url(/images/arrowDown.svg?f14b43287edf4f32ecf12b25adc1eb5c);
  background-repeat: no-repeat;
  background-position: center;
}

/*--------------------------------------------------------------------------------------*/

/*--------------------------------------Supporters--------------------------------------*/

/*--------------------------------------------------------------------------------------*/

div.divGoBack a {
  /*display: flex;*/
  display: block;
  width: 50px;
  height: 60px;
}

a#aGoBack {
  display: flex;
}

a.aGoBack {
  display: flex;
}

div.goBack {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(/images/goBack.svg?451de6cbd6faf2cd15fdf9d0b60fb54e);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.supporters .supporterContainer {
  display: flex;
}

.supporters .supporterContainer div:nth-child(2) {
  margin-right: 5%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.supporters .supporterContainer div:nth-child(3) {
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.supporters .supporterContainer img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.supporters .supporterContainer img:hover {
  margin-right: 0;
  width: 25px;
  height: 25px;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

